  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </p>
  <p>
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </p>